<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hotel.dao.DetilsMapper" >
  <resultMap id="BaseResultMap" type="com.hotel.pojo.Detils" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="hotel_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="stay_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="stay_phone" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="stay_card_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, hotel_id, stay_name, stay_phone, stay_card_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hotel_user_detils
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hotel_user_detils
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hotel.pojo.Detils" useGeneratedKeys="true" keyProperty="id">
    insert into hotel_user_detils (id, user_id, hotel_id, 
      stay_name, stay_phone, stay_card_id, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{hotelId,jdbcType=INTEGER}, 
      #{stayName,jdbcType=VARCHAR}, #{stayPhone,jdbcType=INTEGER}, #{stayCardId,jdbcType=INTEGER}, 
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.hotel.pojo.Detils" >
    insert into hotel_user_detils
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="hotelId != null" >
        hotel_id,
      </if>
      <if test="stayName != null" >
        stay_name,
      </if>
      <if test="stayPhone != null" >
        stay_phone,
      </if>
      <if test="stayCardId != null" >
        stay_card_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="hotelId != null" >
        #{hotelId,jdbcType=INTEGER},
      </if>
      <if test="stayName != null" >
        #{stayName,jdbcType=VARCHAR},
      </if>
      <if test="stayPhone != null" >
        #{stayPhone,jdbcType=INTEGER},
      </if>
      <if test="stayCardId != null" >
        #{stayCardId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        now(),
      </if>
      <if test="updateTime != null" >
       now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hotel.pojo.Detils" >
    update hotel_user_detils
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="hotelId != null" >
        hotel_id = #{hotelId,jdbcType=INTEGER},
      </if>
      <if test="stayName != null" >
        stay_name = #{stayName,jdbcType=VARCHAR},
      </if>
      <if test="stayPhone != null" >
        stay_phone = #{stayPhone,jdbcType=INTEGER},
      </if>
      <if test="stayCardId != null" >
        stay_card_id = #{stayCardId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hotel.pojo.Detils" >
    update hotel_user_detils
    set user_id = #{userId,jdbcType=INTEGER},
      hotel_id = #{hotelId,jdbcType=INTEGER},
      stay_name = #{stayName,jdbcType=VARCHAR},
      stay_phone = #{stayPhone,jdbcType=INTEGER},
      stay_card_id = #{stayCardId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteByDetailIdUserId" parameterType="map">
    delete from hotel_user_detils
    where id=#{detailId}
    and user_id=#{userId}
  </delete>

  <update id="updateByDetail" parameterType="com.hotel.pojo.Detils">
    update hotel_user_detils
    set hotel_id = #{hotelId,jdbcType=INTEGER},
      stay_name = #{stayName,jdbcType=VARCHAR},
      stay_phone = #{stayPhone,jdbcType=INTEGER},
      stay_card_id = #{stayCardId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
    and user_id=#{userId,jdbcType=INTEGER}
  </update>
  
  <select id="selectByIdUserId" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List"></include>
    from hotel_user_detils
    where id=#{detailId}
    and userId=#{userId}
  </select>

  <select id="selectByUsetrId" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List"></include>
    from hotel_user_detils
    where user_id=#{userId}
  </select>
</mapper>